<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/rafi.JPG" alt="Muhammad Rafi" class="img-thumbnail rounded" width="200">
            <h1 class="display-4">Muhammad Rafi Dwi Putra</h1>
            <p class="lead">Fullstack Developer | Student</p>
        </div>
    </div>
</div>